.cardContainer {
  width: 100%;
  padding: 5%;
  /* padding-top: 5%; */
}

.animalImage {
  background-color: lightgray;
  width: 70%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.animalContainer {
  border: 1px solid lightgray;
  padding: 10px;
}
