.logoImage {
  background-color: lightgray;
  width: 30%;
  height: 20%;
}

.hyper:hover {
  color: #181818;
  text-decoration: none;
}

.hyper:link{
  color: #181818;
  text-decoration: none;
  font-size: 30px;
}

.activeLink {
  color: blue !important;
}

.hyper:visited {
  color: #181818;
  text-decoration: none;
}

