body {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  background-color: #0d47a1;
  color: #e3f2fd !important;
}

.footer-style {
  background-color: #0d47a1 !important;
  color: #ffffff !important;
  margin: auto;
}

.footer-style-icons {
  font-size: 2.8em;
  color: #ffffff !important;
  background-color: #0d47a1 !important;
}

.headerBar-icons {
  font-size: 1.5em;
}

.btn-primary {
  background-color: #0d47a1 !important;
  border-color: #0d47a1 !important;
}

.btn-primary:hover {
  background-color: #1565c0 !important;
  border-color: #1565c0 !important;
}

.text-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6vw;
}

.img-thumbnail {
  border-radius: 0px !important;
  border: 0px !important;
}
