body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding-top: 70px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar-brand {
  background-color: #0d47a1;
  color: #e3f2fd !important;
}

.footer-style {
  background-color: #0d47a1 !important;
  color: #FFFFFF !important;
  margin: auto;
}

.footer-style-icons {
  font-size: 2.8em;
  color: #FFFFFF !important;
  background-color: #0d47a1 !important;
}

.headerBar-icons {
  font-size: 1.5em;
}

.btn-primary {
  background-color: #0d47a1 !important;
  border-color: #0d47a1 !important;
}

.btn-primary:hover {
  background-color: #1565c0 !important;
  border-color:  #1565c0 !important;
}

